---
layout: default
title: products
---
<div class="products-grid">
    {% for product in site.product %}
        <div class="product">
            <a href="{{ product.amazon_url }}">
                {% if product.image %}
                    <img src="{{ product.image }}" alt="{{ product.title }}" class="product-image">
                {% endif %}

                <h2 class="product-title">
                    {{ product.title }}
                </h2>
            </a>
        <p class="product-description">{{ product.content }}</p>

        {% if product.tested %}
            <span class="tested-indicator">Tested</span>
        {% endif %}
        </div>
    {% endfor %}
</div>