<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="theme-color" content="#d28445">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/assets/css/poole.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/product.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <script defer src="https://analytics.signalorange.tech/script.js" data-website-id="98cb6d03-4cfe-4781-8c61-22df90b02bbb"></script>
</head>
