<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
     <!--
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">-->

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.url/a_necessary_introduction %} active{% endif %}" href="{{ site.url }}/a_necessary_introduction">a necessary introduction</a>
    <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}/">passing time & tinkering</a>
    <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}/product">recommended products</a>
    <!--
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}-->
    <a class="sidebar-nav-item{% if page.url == /archives %} active{% endif %}" href="{{ site.url }}/archives">archives</a>
    <a class="sidebar-nav-item" href="https://jacobroy.quebec">photography - jacobroy.quebec</a>
    <!--<a class="sidebar-nav-item" href="https://couteausuisse.substack.com">newsletter</a>-->
    <a class="sidebar-nav-item" href="https://calendrier.signalorange.tech/jacob">consulting & appointment</a>
    <a class="sidebar-nav-item" href="https://facturation.signalorange.tech/client/login">client login</a>
  </nav>
  <div class="sidebar-item">
      <img class="nav-image" src="{{ site.url }}/assets/images/me4.jpg">
  </div>
  <div class="sidebar-item" style="padding-bottom: 0;padding-top: 0;">
    <a class="" style="padding-left:1rem; padding-right: 2rem;" href="https://github.com/lejacobroy"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
      </svg> GitHub</a>
    <a class="" href="https://gitlab.com/couteausuisse"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gitlab" viewBox="0 0 16 16">
        <path d="m15.734 6.1-.022-.058L13.534.358a.568.568 0 0 0-.563-.356.583.583 0 0 0-.328.122.582.582 0 0 0-.193.294l-1.47 4.499H5.025l-1.47-4.5A.572.572 0 0 0 2.47.358L.289 6.04l-.022.057A4.044 4.044 0 0 0 1.61 10.77l.007.006.02.014 3.318 2.485 1.64 1.242 1 .755a.673.673 0 0 0 .814 0l1-.755 1.64-1.242 3.338-2.5.009-.007a4.046 4.046 0 0 0 1.34-4.668Z"/>
      </svg> GitLab</a>
  </div>
  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. all rights reserved.
    </p>
  </div>
</div>
