---
layout: default
title: 'Products'
permalink: /products/
---

<div class="products-grid">
    {% for product in site.products %}
      <div class="product">
        {% if product.image %}
          <img src="{{ product.image }}" alt="{{ product.title }}" class="product-image">
        {% endif %}
  
        <h2 class="product-title">
          <a href="{{ site.url }}/{{ product.url }}">
            {{ product.title }}
          </a>
        </h2>
  
        <p class="product-description">{{ product.content }}</p>
  
        {% if product.tested %}
          <span class="tested-indicator">Tested</span>
        {% else %}
          <span class="untested-indicator">Not Tested</span>
        {% endif %}
      </div>
    {% endfor %}
  </div>